---

import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import Strength from "../../components/assets/Strength.astro";
import Quality from "../../assets/chart-super.svg";
import Protection from "../../assets/shield-check.svg";
import Functionality from "../../assets/sparkles.svg";
import MailSvg from "../../assets/mail-outline.svg";
import ProductElement from "../../components/main/components/ProductElement.astro";
import HulesRolloImg from "../../assets/hules-rollo.jpg"
import HulesPlacaImg from "../../assets/hules-placa.png"

const path = [
    { name: "Inicio", link: "/" },
    { name: "Hules automotrices", link: "/hules-automotrices" }
]

const products = [
    {
        img: HulesRolloImg,
        name: "Hule en Rollo",
        description: "Contamos con materiales como el Neopreno SBR, Hule Ambar Natural, Nitrilo y EPDM que son usados en la industria para uso de empaques o sellos.",
        link: "/",
    },
    {
        img: HulesPlacaImg,
        name: "Hule en Placa",
        description: "Contamos con materiales como el Neopreno SBR, Hule Ambar Natural, Nitrilo y EPDM que son usados en la industria para uso de empaques o sellos.",
        link: "/",
    },
    {
        img: HulesRolloImg,
        name: "Hule en Rollo",
        description: "Contamos con materiales como el Neopreno SBR, Hule Ambar Natural, Nitrilo y EPDM que son usados en la industria para uso de empaques o sellos.",
        link: "/",
    },
    {
        img: HulesPlacaImg,
        name: "Hule en Placa",
        description: "Contamos con materiales como el Neopreno SBR, Hule Ambar Natural, Nitrilo y EPDM que son usados en la industria para uso de empaques o sellos.",
        link: "/",
    },
    {
        img: HulesRolloImg,
        name: "Hule en Rollo",
        description: "Contamos con materiales como el Neopreno SBR, Hule Ambar Natural, Nitrilo y EPDM que son usados en la industria para uso de empaques o sellos.",
        link: "/",
    },
    {
        img: HulesPlacaImg,
        name: "Hule en Placa",
        description: "Contamos con materiales como el Neopreno SBR, Hule Ambar Natural, Nitrilo y EPDM que son usados en la industria para uso de empaques o sellos.",
        link: "/",
    },
    {
        img: HulesRolloImg,
        name: "Hule en Rollo",
        description: "Contamos con materiales como el Neopreno SBR, Hule Ambar Natural, Nitrilo y EPDM que son usados en la industria para uso de empaques o sellos.",
        link: "/",
    },
    {
        img: HulesPlacaImg,
        name: "Hule en Placa",
        description: "Contamos con materiales como el Neopreno SBR, Hule Ambar Natural, Nitrilo y EPDM que son usados en la industria para uso de empaques o sellos.",
        link: "/",
    },
    {
        img: HulesRolloImg,
        name: "Hule en Rollo",
        description: "Contamos con materiales como el Neopreno SBR, Hule Ambar Natural, Nitrilo y EPDM que son usados en la industria para uso de empaques o sellos.",
        link: "/",
    },
]
---

<Layout>
    <section class="pt-20 px-10">
        <div class="flex w-full mt-10">
            <div class="flex flex-col space-y-6 w-full">
                <Breadcrumb path={path} />
                <h1 transition:name={`service-hules-automotrices`}>
                    Hules automotrices
                </h1>
                <p class="w-3/4 text-pretty">
                    Nuestra selección de productos para automóviles incluye desde hules misceláneos hasta empaques de puertas y ventanas, todos fabricados con hule de la más alta calidad. Estos accesorios no solo protegen sino que también mejoran la estética de tu vehículo, asegurando un ajuste perfecto y una larga vida útil.                </p>
            </div>
            <div class="w-full flex flex-col justify-center items-center mt-6">
                <div class="flex space-x-6 w-fit">
                    <article class="flex flex-col text-center space-y-6 items-center w-42">
                        <Quality />
                        <h4 class="font-bold">Calidad superior</h4>
                    </article>
                    <article class="flex text-center flex-col space-y-6 items-center w-42">
                        <Protection />
                        <h4 class="font-bold">Protección completa</h4>
                    </article>
                    <article class="flex flex-col space-y-6 text-center items-center w-42">
                        <Functionality />
                        <h4 class="font-bold">Estética y funcionalidad</h4>
                    </article>
                </div>

                <a class="button mt-8 font-semibold text-white bg-primary-900 shadow-lg shadow-primary-800/50 flex gap-x-3 items-center">
                    Enviar correo
                    <span class="w-[3px] h-4/5 bg-white/90 rounded-full" />
                    <MailSvg />
                </a>
            </div>

        </div>

        <div class="grid grid-cols-2 mt-40 gap-x-20 gap-y-8 pb-5">
            {
                products.map((p) => (
                        <ProductElement img={p.img} name={p.name} description={p.description} link={p.link} />
                ))
            }
        </div>

    </section>
</Layout>